/* VARIAVEIS */

$font-family: "Poppins", sans-serif;

$body-color-dark:#2b2b2b;
$body-color-light:#FFFFFF;


$container-color-1-light:#f0efef;
$container-color-2-light:#fafafa;

$container-color-1-dark:#181616;
$container-color-2-dark:#212121;


$title-color-dark: #f2f2f2;
$text-color-dark: #bfbfbf;

$title-color-light: #0b0a0a;
$text-color-light: #403a3a;

:root {
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;

    --normal-font-size: 0.95rem;
    --small-font-size: 0.925rem;
    --smaller-font-size: 0.90rem;
}